{% extends 'mailing/base.html' %}
{% block content %}
<!doctype html>

<main>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Рассылки</h2>
          <p>В этом разделе вы можете создавать новые рассылки и управлять рассылками созданными ранее.</p>
          {% if perms.mailing.add_mailingsettings %}
          <a href="{% url 'mailing:mailing_create' %}" class="btn btn-outline-light" type="button">
            Сделать настройки для рассылки
          </a>
          {% endif %}
          <a href="{% url 'mailing:mailing_list' %}" class="btn btn-outline-light" type="button">
            Просмотреть все рассылки
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Сообщения</h2>
          <p>В этом разделе вы можете создавать новые сообщения и управлять сообщениями созданными ранее.</p>
          {% if perms.mailing.add_message %}
          <a href="{% url 'mailing:message_create' %}" class="btn btn-outline-secondary" type="button">
            Создать сообщение
          </a>
          {% endif %}
          <a href="{% url 'mailing:message_list' %}" class="btn btn-outline-secondary" type="button">
            Просмотреть все сообщения
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Клиенты</h2>
          <p>Здесь вы можете создавать новых клиентов для рассылки и редактировать клиентов внесенных в нашу базу данных.</p>
          {% if perms.client.add_client %}
          <a href="{% url 'client:client_create' %}" class="btn btn-outline-secondary" type="button">
            Создать нового клиента
          </a>
          {% endif %}
          <a href="{% url 'client:client_list' %}" class="btn btn-outline-secondary" type="button">
            Просмотреть всех клиентов
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Отчеты</h2>
          <p>Здесь можно просмотреть логи по всем рассылкам.</p>
          <a href="{% url 'mailing:log_list' %}" class="btn btn-outline-secondary" type="button">
            Просмотреть отчет
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}