{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row align-items-md-stretch">
    {% for log in logs %}
    <div class="col-md-4">
        <div class="container">
            <div class="row g-0 border rounded overflow-hidden mt-4 position-relative">
                <form class="col p-4 d-flex flex-column position-static">
                    {{ form | crispy }}
                    <p class="card-text"> ID Лога: {{ log.pk }} </p>
                    <p class="card-text"> Дата и время попытки: {{ log.created_at }} </p>
                    <p class="card-text"> Ответ почтового сервера: {{ log.response }} </p>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}