{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row mt-4 mb-2">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Удалить клиента
                        </h3>
                        <div class="card-body">
                            {{ form | crispy }}
                            <form method="post">
                                {% csrf_token %}
                                <p> Хотите удалить клиента: {{ object.last_name }} {{ object.first_name }}
                                {% if object.patronymic %}
                                {{ object.patronymic }}
                                {% endif %}?</p>
                                <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
                                <a href="{% url 'client:client_list' %}" class="btn btn-sm btn-outline-secondary">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}