{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row align-items-md-stretch">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="container">
            <div class="row g-0 border rounded overflow-hidden mt-4 flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <form class="col p-4 d-flex flex-column position-static">
                    {{ form | crispy }}
                    <h4 class="card-text"> Клиент: {{ object.last_name }} {{ object.first_name }}
                        {% if object.patronymic %}
                            {{ object.patronymic }}
                            {% endif %}
                        </h4>
                    <p class="card-text"> Email: {{ object.email }} </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'client:client_detail' object.pk %}" role="button">Подробнее</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}